p
{
    font-family: 'Roboto', sans-serif;
}
body
{
    margin: 0;
    padding: 0;
}
.html
{
    font-size: 100%;
}
.fullpage
{
display: flex;
flex-direction: column;
width: 100%;
}
.page
{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 103vh
}
.logo
{

    align-self: flex-start;
  
    width: 100%
}
.logo img
{
    width: 25vw;
    padding-left: 5%;
    padding-top: 2%;
}
.gauche
{
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%

}
.gauche2
{
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
    height: 80%;
    width: 100%;
    
}
.letitre
{
    background: url("image/barre.svg") no-repeat left;
    background-size: 100%;
    color: white;
    width : 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:25%;
    height: 15vw;
}
figcaption
{
    font-size: 1vw
}
.idee
{
    font-weight: bold;
    font-size: 2.5vw;
    width : 60%;
    margin: 0;
    margin-left: 5%;
}
.cout
{
    width : 45%;
    margin: 0;
    margin-left: 5%;
    margin-bottom: 3%;
    font-size: 0.9vw;
}
.deuxbouton
{
    width: 100%;
    height: 26vw
}
.deuxbouton p
{
    margin: 0
}
.appli
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
    height: 50%
 
}
.google
{
    margin-top: 3%;
}
.google img
{
    width: 12vw
}
.kezako
{
    margin-top: 3%;
}
.kezako img
{
    width: 13vw
}
.classe_energetique
{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
    height: 50%
}
.droite
{
    width: 55vw;
    background: url("image/cerclesfond.svg") no-repeat ;
    background-position-y:-4.5vw;
    background-size: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
}
.bouton
{
    align-self: center;
    padding-left: 2%;
    width: 15vw
}
.bouton img
{
    width: 17vw
}
.droite2
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    background: url(image/Ellipsefond.svg) no-repeat center;
    background-size: 90%;
    width: 55vw;
    height: 45vw;
}
.resultat
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background: url(image/Ellipsefond.svg) no-repeat center;
    background-size: 93%;
    width: 55vw;
    height: 45vw;
}
.scene 
{
  perspective: 900px;
}
.card 
{
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style:preserve-3d ;
  cursor: pointer;
  position: relative;
}
.card.is-flipped
 {
  transform: rotateY(180deg);
}
.card__face {
  position: absolute;
  backface-visibility: hidden;
}
.card__face--back {
  transform: rotateY(180deg);
}
/* Affichage du bouton radio personnalisé quand il est sélectionné */
input[type="radio"]:checked+label img {
    border-radius: 50px ;
    background-color: #21272B;
  } 
label{
cursor:pointer;
}
input[type="radio"] {
display: none;
}
.estime
{
    font-weight: bold;
    font-size: 2vw;
    margin: 0;
    padding-top: 5%;
}
.choisissez
{
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center
}
.bloc1
{
    display: flex;
    width: 100%;
    justify-content:center;
    margin-top: 3%
}
.lettre
{
    width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap
}
.labarre
{
    width: 40vw
}
.lettre img
{
    padding: 0.5vw;
    width: 4vw;
}
.ou
{
    font-size: 2vw;
    font-weight: bold;
    margin: 0;
    margin-right: 1vw;
}
.indiquez
{
    display: flex;
    align-items: center;
    width: 50%;
    font-weight: bold;
    font-size: 1vw;
}
.phrase
{
    margin:0;
    font-size: 1vw
}
.valeur
{
    border-radius: 10%;
    width: 10%;
    height: 100%;
    margin-left: 1vw;
}
.bloc01
{
    width: 100%
}
.valeur2
{
    border-radius: 10%;
    width: 10%;
    height: 60%;
    align-self: center
}
.bloc2
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.chauffage
{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center
}
.chauffige
{
    padding: 0.5vw;
    width: 4vw
}
figure
{
    margin: 0
}
.entrez
{
    display: flex;
    font-weight: bold;
    font-size: 1.5vw;
    justify-content: space-around;
    padding-left: 7%
}
#surface
{
    border-radius: 10%;
    width: 3vw;
    height: 50%    
}
.burn
{
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
}
.mode
{
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center
} 
.titre_resultat
{
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0%;
    margin-top:10%;
    margin-bottom: 5%;
}
.petitbarre
{
    width: 35vw;
    align-self: center 
}
.chiffre
{
    font-size: 2vw
}
.recap
{
    font-size: 1.5vw
}
.estimation
{
    font-size: 1vw
}
.refaire 
{
    width: 15vw;
    align-self: center
}
.telechargement img
{
    width: 5vw
}
.dpe
{
    display: flex;
    flex-direction: column;
    background: #AFCB2C ;
    width: 100vw;
    height: 100vh;
    position: relative
}
.titre2
{
    color: white;
    margin-left: 4vw;
    height: 10%
}
.titre2 p
{
    margin: 0
}
.diag
{
    margin-left:8vw;
    font-size:1.1vw;
}
.laclasse
{
    font-weight: bold;
    font-size: 3.5vw;
}
.bloc
{
    display: flex;
    flex-flow: row  wrap;
    width: 100% ;
    height: 90%
}
.gauche1
{
    background: url("image/Ellipse.svg") center no-repeat;
    background-size:90%;
    width: 33% ;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.gauche1 img
{
    width: 13vw
}
.ans
{
    width: 40%;
}
.realiser
{
    width: 70%;
    font-size: 1.2vw;
    text-align: justify
}
.milieu1
{
    width: 33%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
.soixante
{
    width: 22vw
}
.logement
{
    width:60%; 
    text-align: justify;
    font-size: 1.2vw
}
.droite1
{
    width: 33%;
    height:95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(image/Ellipse.svg) no-repeat bottom ;
    background-size: 85%;
}
.lecture
{
    width: 60%;
    height: 40%;
    text-align: justify;
    font-size: 1.2vw
}
.etiquette
{
    display: flex;
    justify-content: center;
    
    width: 100%;
}
.echelle
{
    width: 15vw;
    padding-bottom: 4vw

}
footer
{
    background-color: #21272B;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    position: relative;
}
.bas1
{
    margin-top: 0.7vw;

}
.bas1 img
{
    width: 10vw
}
.bas2
{
    font-size: 0.7vw;
}
a
{
    text-decoration: none;
    color: white
}
.bouton_calculette{/* bouton bloqué veuillez remplir tous les champs disparait quand tous les champs sont remplis*/
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: rgb(218, 218, 218);
     width: 100%;
     height: 3vw;
     border: none;
     border-radius: 10px;
     font-family: 'roboto';
     font-style: italic;
     font-size: 1vw;
     margin-top: 4%;
 }
 #generer{/*bouton pour calculer le budget apparait quand les tous les champs sont remplis*/
    background-color: #f39200;
    width: 100%;
    height: 3vw;
    border: none;
    border-radius: 10px;
    font-family: 'roboto';
    font-size: 1vw;
    font-weight: bold
}
.refaire_calcul{/*bouton refaire le calcul*/

    align-self: center;
    margin: 0
}
.refaire_calcul img
{
    width: 15vw
}
#resultatMin
{
    font-size: 1.5vw
}
#resultatMax
{
    font-size: 1.5vw
}



