html
{
    margin: 0
}
.fullpage
{
height: 100vh;
margin: 0
}
body
{
    margin: 0
}
.page
{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.logo
{
    height: 19%;
    background: url(image/Ellipsemobile.svg) no-repeat ;
    background-size: 100%;
    background-position-y: -18vw;
    display: flex;
    flex-direction: column;
    align-items: center
}
.logo p
{
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0;  
}
p
{
    margin: 0;
    font-size: 1.7em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

}


/* .background
{
    background: url(image/cercle_appli.svg) no-repeat ;
    background-position-x: 32vw;
    background-size: 15%;
    background-position-y: 2.35vw;
    height: 25%
}
.background2
{
    background: url(image/cercle_appli.svg) no-repeat top;
    background-position-x: 67vw;
    background-size: 15%;
    background-position-y: 2.35vw;
    height: 25%
    
} */

.nom_chauffage
{
    padding-top: 15%
}
.surface
{
    display: flex
}

.choisissez
{
    text-align: right;
    padding-right: 2vw;

}
.labarre
{
    position: absolute;
    z-index: 10;
    width: 69%;
  
}
.energetique
{
    padding-left: 1vw;
   
}
.labarre2
{
    position: absolute;
    z-index: 10;
    width: 68%; 
    right: 0;
  
}
.line
{
    position: absolute;
    right: 0;
    width: 50%;
    top: 43%
    
}
.line2
{
    position: absolute;
    width:51%;
    top: 74%
}
.bloc2
{
    height: 30%;
    background: url(image/Subtract.svg) no-repeat center;
  
    
}
.owl-carousel
{
    height: 70%;
   
}
.owl-stage-outer
{
    height: 100%
}
.owl-stage
{
    height: 100%;
    
}
.owl-item
{
    height: 100%;
   
}
.lettreimg
{
    height: 100%;

}
.lettreimg1
{
   height: 100%
}
figure
{
    height: 100%;
    margin: 0;
   
}
.surface
{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%
}
.bas
{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.merde
{
    width: 8vw;
    height: 100%
}

.surface p
{
    padding-left: 2vw
}
.valeur
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 1%
}
.triche
{
    width: 6%
}
@media screen and (max-width:750px)
{
    .logo p
    {
        display: none
    }
    .line, .line2
    {
        display: none
    }
    p
    {
        font-size: 1.2em
    }

}

@media screen and (max-width:500px)
{
    .logo
    {
        height: 14%;
        background-position-y: -11vw;
    }
    p
    {
        font-size: 1em
    }
    .surface
    {
        width: 100%
    }
    .merde
    {
        width: 15%
    }
    .labarre2
    {
        top:51%
    }
   
  
}
@media screen and (max-width:415px)
{
    .merde
    {
        width: 20%
    }
}



